<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Titan Cosmos</title>
    <link rel="shortcut icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/Style/Index.css">
    <script src="https://kit.fontawesome.com/d00178e030.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--navbar para buscar, usuario y carrito-->
    <nav class="menu">
      <ul>
        <li><a href="/"><img src="/images/logo.png" style="width:60px;"></a></li>
        <li>
            <form action="/buscar" method="post">
                <input type="text" name="texto" id="texto" placeholder="Buscador" style="width: 500px; color: black;" value="">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </li>
        <li><a href="/Carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul>
    </nav>
    <!--navbar fin-->
    <!--cuerpo de la pagina-->
    <div class="Categorias">
      <% categorias.forEach(categoria => { %>
          <a href="/categoria/<%= categoria.idCategoria %>"><%= categoria.Categoria %></a>
      <% }); %>
  </div>
  <h3>Productos:</h3>
<div class="Productos">
    <% if (buscar.length === 0) { %>
        <p>No tiene productos</p>
    <% } else { %>
        <% buscar.forEach(producto => { %>
            <a href="/producto/<%= producto.idProducto %>">
                <div class="pro_individual">
                    <img src="<%= producto.img %>" alt="">
                    <h4><%= producto.Producto %></h4>
                    <p>$<%= producto.Precio %></p>
                </div>
            </a>
        <% }); %>
    <% } %>
</div>

    <!--Pagin fin-->
    <div class="fin_pagina_detalles">
      <a href="/Administracion" id="admin" style="left: 0px; position: absolute">Admin</a>
      <span> <sTRONg>Datos de contacto:</sTRONg>
          <br>
          Telefono: 0 12345 6789
          <br>
          Correo: correo@correo.com
      </span>
    </div>
  </body>
</html>
