<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carrito</title>
    <link rel="shortcut icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/Style/Usuario_config.css">
    <script src="https://kit.fontawesome.com/d00178e030.js" crossorigin="anonymous"></script>
</head>
  <body>
    <!--navbar para buscar, usuario y carrito-->
    <nav class="menu">
        <ul>
          <li><a href="/"><img src="/images/logo.png" style="width:60px;"></a></li>
          <li>
            <form action="/buscar" method="post">
                <input type="text" name="texto" id="texto" placeholder="Buscador" style="width: 500px; color: black;" value="">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </li>
          <li><a href="/Carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
      </nav>
      <!--navbar fin-->
      <!--cuerpo de la pagina-->
      <div class="Categorias">
        <% categorias.forEach(categoria => { %>
            <a href="/categoria/<%= categoria.idCategoria %>"><%= categoria.Categoria %></a>
        <% }); %>
    </div>
        <div class="Contenido">
            <form action="/editar" method="post">
                <br><br><br>
                <input type="hidden" name="idProducto" value="<%= producto[0].idProducto %>">
                Producto: &nbsp;
                <input type="text" class="text" id="Producto" name="Producto" placeholder="Nombre del Producto" required value="<%= producto[0].Producto %>">
                <br><br>
                Descripción: &nbsp;
                <textarea name="Descripcion" id="Descripcion" required><%= producto[0].Descripcion %></textarea>
                <br><br>
                Categoria: &nbsp;
                <select name="Categoria" id="Categoria" required>
                    <% categorias.forEach(categoria => { %>
                        <option value="<%= categoria.idCategoria %>" <%= (categoria.idCategoria == producto[0].idCategoria) ? 'selected' : '' %>><%= categoria.Categoria %></option>
                    <% }); %>
                </select>
                <br><br>
                Precio: &nbsp;
                <input type="number" class="Precio" id="Precio" name="Precio" placeholder="$$$" min="1" step="0.01" required value="<%= producto[0].Precio %>">
                <br><br>
                <img id="imagen_preview" src="<%= producto[0].img %>" style="width: 100px;"><br><br>
                Stock: &nbsp;
                <input type="number" class="Stock" id="Stock" name="Stock" placeholder="1" min="1" required value="<%= producto[0].Stock %>">
                <br><br>
                Estado: &nbsp;
                <select name="Estado" id="Estado" required>
                    <option value="En Uso" <%= (producto[0].Estado == 'En Uso') ? 'selected' : '' %>>En Uso</option>
                    <option value="Descontinuado" <%= (producto[0].Estado == 'Descontinuado') ? 'selected' : '' %>>Descontinuado</option>
                    <option value="Oferta" <%= (producto[0].Estado == 'Oferta') ? 'selected' : '' %>>Oferta</option>
                </select>
                <br><br>
                Proveedor: &nbsp; 
                <select name="idProveedor" id="idProveedor">
                  <% Proveedor.forEach(proveedor => { %>
                    <option value="<%= proveedor.idProveedor %>"> <%= proveedor.Proveedor %></option>
                  <% }) %>   
                </select>
                <br><br>
                <br>
                <button type="submit" id="Actualizar_boton" style="cursor: pointer;">Actualizar producto</button>
                <br>
            </form>
            
        </div>
      <!--cuerpo de la pagina fin-->
      <!--Pagin fin-->
      <div class="fin_pagina_rel">
        <a href="/Administracion" id="admin" style="left: 0px; position: absolute">Admin</a>
        <span> <sTRONg>Datos de contacto:</sTRONg>
            <br>
            Telefono: 0 12345 6789
            <br>
            Correo: correo@correo.com
        </span>
    <!--Pagin fin fin-->
      </div>
  </body>
</html>