<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Titan Cosmos</title>
    <link rel="shortcut icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/Style/Index.css">
    <script src="https://kit.fontawesome.com/d00178e030.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--navbar para buscar, usuario y carrito-->
    <nav class="menu">
      <ul>
        <li><a href="/"><img src="/images/logo.png" style="width:60px;"></a></li>
        <li>
          <form action="/buscar" method="post">
            <input type="text" name="texto" id="texto" placeholder="Buscador" style="width: 500px; color: black;" value="">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        </li>
        <li><a href="/Carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul>
    </nav>
    <!--navbar fin-->
    <!--cuerpo de la pagina-->
    <div class="Categorias">
        <% categorias.forEach(categoria => { %>
          <a href="/categoria/<%= categoria.idCategoria %>"><%= categoria.Categoria %></a>
        <% }); %>
    </div>
    <!--Banner-->
    <div class="Contenedor">
      <h1>¡Somos Titan Cosmos!</h1>
      <span>
        Bienvenidos a Titan Cosmos, una empresa líder en el mundo de la tecnología. 
        Nos apasiona la innovación y nos dedicamos a ofrecer soluciones tecnológicas integrales que abarcan desde el desarrollo hasta la venta de productos de alta tecnología. 
        Nuestro compromiso es brindar a nuestros clientes lo mejor en calidad y servicio. 
        En Titan Cosmos, encontrarás una amplia gama de productos.
        <br><br>
        Explora nuestro catálogo y descubre todo lo que Titan Cosmos tiene para ofrecerte. Estamos aquí para ayudarte a encontrar las soluciones tecnológicas perfectas para tu hogar, oficina o negocio. ¡Gracias por confiar en nosotros!
      </span>
    </div>
    <!--Banner fin-->
    <h3>Productos:</h3>
    <div class="Productos">
        <% productos.forEach(producto => { %>
          <a href="/producto/<%= producto.idProducto %>">
            <div class="pro_individual">
              <img src="<%= producto.img %>" alt="">
              <h4><%= producto.Producto %></h4>
              <p>$<%= producto.Precio %></p>
            </div>
          </a>
        <% }); %>
    </div>
    <h3>Productos en oferta:</h3>
        <div class="Productos_oferta">
            <% productosOferta.forEach(producto => { %>
                
            <a href="/producto/<%= producto.idProducto %>">
            <div class="pro_individual">
                <img src="<%= producto.img %>" alt="">
                <h4><%= producto.Producto %></h4>
                <p>$<%= producto.Precio %></p>
            </div>
            </a>
            <% }); %>
        </div>

    <!--Pagin fin-->
    <div class="fin_pagina">
      <span><strong>Datos de contacto:</strong><br>Telefono: 0 12345 6789<br>Correo: correo@correo.com</span>
    </div>
  </body>
</html>
